# Py ignored files
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# Package build
*.egg-info/
build/
dist/

# IntelliJ, IDEA, PyCharm
/out/
.idea/
.idea_modules/

# Notebooks
.ipynb_checkpoints/

# VS Code
.vscode/

# DS Store files
*.DS_Store

# Config
.env*

# Sphinx build artifacts
_build/
doctrees/
*.doctree

# Sphinx intermediate and log files
*.log
*.pickle
*.pdf
*.epub
*.mobi

# Sphinx static assets
_static/
